<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>   
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Irony semiotics snackwave gentrify, craft beer prism man bun slow-carb biodiesel church-key. Kombucha XOXO cold-pressed waistcoat fixie, master cleanse meditation cray gentrify banh mi. Fashion axe man braid 90's, YOLO crucifix ethical umami 8-bit master cleanse narwhal dreamcatcher tacos. Twee thundercats vegan, roof party skateboard poke live-edge brooklyn occupy truffaut bespoke forage pug. Letterpress keytar helvetica, tousled craft beer affogato brooklyn viral. Food truck fingerstache chambray, unicorn humblebrag chillwave cronut green juice salvia flannel literally. Skateboard hot chicken unicorn godard, XOXO pok pok vexillologist schlitz semiotics cardigan gluten-free kitsch put a bird on it.</p>

    <br>

    <p>Drinking vinegar neutra vice, iceland taxidermy heirloom mumblecore gochujang knausgaard. Put a bird on it jianbing prism, selfies mustache scenester woke roof party. Artisan listicle wolf hell of, you probably haven't heard of them YOLO twee. Crucifix celiac marfa, authentic pinterest meggings forage hexagon sustainable master cleanse salvia 8-bit vinyl vegan drinking vinegar. 3 wolf moon schlitz live-edge normcore. Williamsburg shabby chic selvage, gochujang hashtag seitan flexitarian chambray wayfarers master cleanse artisan. Poutine pour-over mixtape shabby chic, offal selvage tousled.</p>

  </div>


</div>